nav { 
    padding: 20px;
}

.vote { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-group { 
    display: flex;
    flex-direction: column;
    align-items:stretch;
    margin: 10px;
}
.btn { 
    margin: 10px;
}

input, select { 
    margin: 5px;
}
